language: php

php:
  - hhvm
  - 7
  - 5.6
  - 5.5
  - 5.4
  - 5.3

matrix:
  allow_failures:
    - php: hhvm
    - php: 7

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev --no-interaction
  - mysql -e 'create database pheasanttest;'

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist
