<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  verbose="true"
  bootstrap="vendor/autoload.php"
  colors="true"
>

  <!-- Test suites to be run -->
  <testsuites>
    <testsuite name="pheasant">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <!-- Filters for code coverage reporting -->
  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./benchmarks</directory>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>

  <!-- Test listeners -->
  <listeners>
    <listener class="\Mockery\Adapter\Phpunit\TestListener" file="vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
  </listeners>

  <php>
    <ini name="error_reporting" value="-1" />
  </php>

</phpunit>
