
/* Body and structure
-------------------------------------------------- */

body {
  position: relative;
}



/* Bootstrap Overrides
-------------------------------------------------- */

.navbar-inner {
  background-image: none;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}

.footer {
  padding: 50px 0;
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

@media (max-width: 767px) {
  .footer {
    margin-right: -20px;
    margin-left: -20px;
    padding: 10px 20px;
    margin-top: 20px;
  }
}

pre code {
  color: rgba(0, 0, 0, 0.75);
  padding: 1px 3px;
}

.highlight > pre {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

/* Index
-------------------------------------------------- */

.inline-list {
  margin: 0;
  list-style: none;
}

.inline-list li {
  display: inline;
  padding: 0;
}

.jumbotron {
  background-color: #fff;
  text-align: center;
  padding: 7% 0 0 0;
}

.jumbotron h1 {
  line-height: 1;
  font-weight: normal;
}

@media (min-width: 1024px) {
  .jumbotron h1 {
    font-size: 80px;
  }
  .jumbotron p {
    font-size: 40px;
  }
}

.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

.pheasant-logo {
  width: 300px;
  padding: 20px 40px 20px 0;
}

.marketing {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
  line-height: 1;
}

@media (min-width: 1024px) {
  .marketing h2 {
    font-size: 50px;
  }
}

.feature-col h4 {
  padding-top: 20px;
}

.feature-col p {
  min-height: 90px;
}

.hero-links li {
  margin: 0 10px;
}

.footer-links li:first-child {
  padding-left: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

/* Docs
-------------------------------------------------- */

body {
  counter-reset: doc-h2s;
}

.nested-numbers {
  counter-reset: nn1-counter;
}

.nested-numbers li {
  display: block;
}

.nested-numbers > li:before {
  content: counter(nn1-counter)  ".\0000a0\0000a0";
  counter-increment: nn1-counter;
}

.nested-numbers > ol {
  counter-reset: nn2-counter;
}

.nested-numbers > ol > li:before {
  content: counter(nn1-counter) "." counter(nn2-counter)  ".\0000a0\0000a0";
  counter-increment: nn2-counter;
}

h2.numbered:before {
  content: counter(doc-h2s)  ".\0000a0\0000a0";
  counter-increment: doc-h2s;
  counter-reset: doc-h3s;
}

h3.numbered:before {
  content: counter(doc-h2s) "." counter(doc-h3s)  ".\0000a0\0000a0";
  counter-increment: doc-h3s;
}

.footer-links li:first-child {
  padding-left: 0;
}

.docs h2, .docs h3 {
  margin-top: 30px;
}

.docs h2:first-child {
  margin-top: 0;
}

.docs p {
  margin: 10px 0;
}

.docs pre {
  margin: 20px 0;
}
