body {
  background: #fff;
  color: #000;
  font: 14px/1.5 FreeSans, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 750px;
  margin: 2em auto;
}

div#header a {
  display: block;
  height: 201px;
  width: 644px;
  background: #fff url(/static/pheasant.png) no-repeat top left;
  text-indent: -99999px;
}

#content .highlight {
	padding: 0.5em;
	overflow: hidden;
}

#content .highlight, .highlight pre, .highlight code {
	margin: 0 0 1em 0;
	padding: 0;
}

#content .highlight code.php {
	display: block;
	margin-top: -2.5em;
}

#content .highlight .err {
  background-color: transparent;
  color: #000;
}

#content .highlight .nc, #content .highlight .nf {
  color: #214530;
}
