@import url(fonts/merge_regular_macroman/stylesheet.css);

a:link, a:visited {
  color: #000;
}

body {
  background: #fff;
  color: #000;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 750px;
  margin: 2em auto;
}

h1, h2, h3, h4, h5 {
  font-family: 'MergeRegular';
}

div#header a {
  display: block;
  height: 150px;
  width: 644px;
  background: #fff url(/static/pheasant.png) no-repeat top left;
  text-indent: -99999px;
  margin: 0 auto 0 0px;
}

#content .highlight {
	padding: 0.5em;
	overflow: hidden;
}

#content .highlight, .highlight pre, .highlight code {
	margin: 0 0 1em 0;
	padding: 0;
}

#content .highlight code.php {
	display: block;
	margin-top: -2.5em;
}

#content .highlight .err {
  background-color: transparent;
  color: #000;
  border: none;
}

div#footer {
	margin: 2em 0 1em;
}

.ribbon {
  background-color: #5E2B22;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #9C624A;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

