<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>{{ page.title }}</title>
		<meta name="author" content="Lachlan Donald" />
		<link rel="stylesheet" type="text/css" href="/static/screen.css" media="screen, projection" />
		<link rel="stylesheet" type="text/css" href="/static/pygments/bw.css" media="screen, projection" />
	</head>

	<body>
		<div id='wrapper'>
			<div id='header'>
				<a href='/' title='Pheasant Object Mapper'>Pheasant</a>
			</div>

			<div id='content'>
					{{ content }}
			</div>

		  <div class="ribbon">
			 <a href="http://github.com/lox/pheasant">Fork me on GitHub</a>
		  </div>

			<div id='footer'>
				Copyright &copy; 2010 <a href="http://lachlandonald.com">Lachlan Donald</a>. Available under an MIT license.
			</div>
		</div>
	</body>
</html>
