<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An object-mapper designed for PHP 5.3+ and Mysqli">
    <meta name="author" content="Lachlan Donald <lachlan@ljd.cc>">
    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/pygments/github.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/jvj2wju.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".docs-nav">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/index.html">Pheasant</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="/get-started.html">Get started</a></li>
              <li class=""><a href="/docs.html">Documentation</a></li>
              <li class=""><a href="http://github.com/lox/pheasant">Github</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Using Pheasant</h1>
    <p class="lead">An overview of how to use Pheasant.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3">
      <ol class="docs-nav nested-numbers" data-spy="affix" data-offset-top="202">
        <li><a href="#Installing">Installing</a></li>
        <li><a href="#DomainObjects">Domain Objects</a></li>
        <ol>
          <li><a href="#Properties">Properties</a></li>
          <li><a href="#Relationships">Relationships</a></li>
          <li><a href="#Identity">Identity</a></li>
          <li><a href="#LazyLoading">Lazy-loading</a></li>
        </ol>
        <li><a href="#Finders">Finders</a></li>
        <ol>
          <li><a href="#MagicFinders">Magic Finders</a></li>
        </ol>
        <li><a href="#Events">Events</a></li>
        <li><a href="#DatabaseLayer">Database Layer</a></li>
        <li><a href="#Testing">Testing</a></li>
      </ol>
    </div>
    <div class="span9 docs">
    {{ content }}
    </div>
  </div>
</div>

    <!-- Footer
    ================================================== -->
    <footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Developed by <a href="http://lachlan.me" target="_blank">@lox</a> and <a href="http://99designs.com" target="_blank">99designs</a>.</p>
        <p>Code licensed under <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        <ul class="footer-links inline-list">
          <li><a href="http://blog.getpheasant.com">Blog</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/lox/pheasant/issues?state=open">Issues</a></li>
          <li class="muted">&middot;</li>
          <li><a href="https://github.com/lox/pheasant/wiki">Roadmap and changelog</a></li>
        </ul>
      </div>
    </footer>

    <!-- Scripts
    ================================================== -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
